<!DOCTYPE html>
<html>
<head>
    <title>Servisor-Index</title>

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/css/calander.css">
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .b {
            border: 1px solid black;
        }

        .row {
            margin: 0px;
        }

        .grayscale {
            -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
            filter: grayscale(80%);
        }

        .master {
            background-image: url(../../Content/images/s2.jpg);
        }

        .master1 {
            background-image: url(../../Content/images/4.jpg);
        }
    </style>

</head>

<body style="font-family: Arial">
    <a id="top"></a>
    <div class="container-fluid ">
        <div class="row" style="padding: 40px;background-color: rgb(241,241,241);">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(241,241,241);">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="~/Assets/Images/logo.svg" alt="Serviser Logo" class="serviser-navbar-logo" width="50" height="50" />
                    &nbsp; SERVISER
                </a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Booking">Book Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 ml-lg-auto mt-lg-0">
                        <li class="nav-item m-1">
                            <button class="btn btn-outline-info btn-block" onclick="location.href='/Home/Register'"><span class="fa fa-sign-in"></span> Sign Up</button>
                        </li>

                        <li class="nav-item m-1">
                            <button class="btn btn-outline-info btn-block" onclick="location.href='/Home/Login'"><span class="fa fa-user"></span> Log In</button>
                        </li>

                    </ul>
                </div>
            </nav>


        </div>


    </div>

    @RenderBody();




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <footer id="dk-footer" class="dk-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mt-5">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <img src="~/Assets/images/logo.svg" alt="footer_logo" class="img-fluid ml-5" style="height: 100px;width: 150px">
                        </a>
                        <p class="footer-info-text">
                            The service your vehicle needs We provide fast, convinient and affordable services for your vehicles.This is Serviser © for you!
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->

                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Lahore,Pakistan</h3>
                                    <p>PUCIT</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>+92321-4238228</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">Book Now</a>
                                    </li>
                                    <li>
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p style="color: white">
                                    Don’t miss to subscribe to our new feeds, kindly fill the form below.
                                </p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2019, All Right Reserved Serviser</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Book Now</a>
                                </li>
                                <li>
                                    <a href="#">Pricing</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top" style="visibility: hidden;">
            <button class="btn btn-dark" title="Back to Top" style="display: block;" id="butt">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <!-- End Back to top -->
    </footer>



    <script>

        function change1(x) {
            x.style.background = "rgb(14,131,205)";
            x.style.color = "white";


        }
        function change2(x) {
            x.style.background = "rgb(241,241,241)";
            x.style.color = "black";

        }
        function change_bor1(x) {
            x.style.border = "4px solid rgb(14,131,205)";
           

        }
        function change_bor2(x) {
            x.style.border = "4px solid white";

        }


        var btn = $('#butt');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });


    </script>




</body>
</html>