section {
    height: 200vh;
    background: var(--soft-white);

}


section > div {
    height: 50%;
    width: 50%;
}

.slide {
    padding: 0;
}

.art-part-bg {
    height: 100%;
    width: 100%;
}

.art-part-img {
    max-height:80%;
    min-height: 70%;
    width: 70%;
    position: absolute;
   z-index: 3;
}


@media only screen and (min-width : 992px) {
    section {
        height: 100vh;
        overflow: hidden;
    }

    section div {
        height: 100%;
        position: relative;
    }

    section:nth-child(odd) .art-part-bg {
        transform-origin: center left;
        transform: skewX(-20deg);
        position: relative;
        background: var(--soft-black);
    }

        section:nth-child(odd) .art-part-bg::after {
            content: " ";
            display: block;
            height: 100%;
            width: 100%;
            background: var(--soft-black);
            position: absolute;
            transform-origin: center left;
            right: -50%;
            transform: skewX(20deg);
        }

        section:nth-child(even) .art-part-bg {
            transform-origin: center left;
            transform: skewX(20deg);
            position: relative;
            background: var(--soft-black);
        }

            section:nth-child(even) .art-part-bg::after {
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: var(--soft-black);
                position: absolute;
                transform-origin: center left;
                right: -50%;
                transform: skewX(-20deg);
            }

        section:nth-child(1) .art-part-bg::after {
            background: var(--soft-dark-blue);
        }

        section:nth-child(2) .art-part-bg::after {
            background: var(--soft-dark-red);
        }

        section:nth-child(3) .art-part-bg::after {
            background: var(--soft-light-green);
        }

        section .art-part-bg {
            box-shadow: rgba(16, 16, 16, 0.5) 0 0 10px;
        }
}





section:nth-child(1) .art-part-bg {
    background: var(--soft-dark-blue);
}


section:nth-child(2) .art-part-bg {
    background: var(--soft-dark-red);
}



section:nth-child(3) .art-part-bg {
    background: var(--soft-light-green);
}


/* Content Part */

@media only screen and (min-width : 992px) {

    .content-part-left {
        padding: 0 3%;
    }

    .content-part-right {
        padding: 0 3%;
        padding-left: 13%;
        z-index: 5;
        color: var(--soft-white)
    }
}

.app-download-button {
    padding: 10px 10px;
    margin: 0;
    background: var(--soft-light-green);
    width: 70%;
    border: none;
    color: white;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.20) 3px 3px 3px;

}

.app-download-button:hover {

    background: var(--soft-dark-green);
}

.app-download-button img {
    margin: 0 10px;
}