
@{
                /**/

                ViewBag.Title = "AddProblem";
                Layout = null;
                Html.RenderPartial("_Adminheader");
}

<?php
include('header.php');
?>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.php">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add New Problem</li>
        </ol>


        <center>
            <form style="width: 30%">

                <input type="text" name="problem_name" class="form-control" required="" placeholder="Problem Name">
                <input type="text" name="problem_price" class="form-control mt-2" required="" placeholder="Problem Price">


                <button class="btn btn-info mt-2">Add Problem</button>
            </form>
        </center>


    </div>


</div>


@{
    Html.RenderPartial("_Adminfooter");
}


