:root {
    --soft-white: #ecf0f1;
    --soft-black: #0e0e0e;
    --soft-dark-blue: #2980b9;
    --soft-dark-red: #c0392b;
    --soft-light-green: #21C7B1;
    --soft-dark-green: #27ae60;
    --soft-deep-dark-blue: #2c3e50;
    --soft-black-pearl: #1e272e;
    --soft-dracula-black: #2d3436;
}

.serviser-navbar {
    background: var(--soft-white);
    box-shadow: rgba(0,0,0,0.4) 0 0 5px;
}

.serviser-navbar-logo {
    max-width:50px;
    max-height:50px;
}
.footer-line-a{
    color: #fff;
}


hr {
    color: #ecf0f1;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.ct-footer {
    background-color: var(--soft-dracula-black);
    position: relative;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ct-footer a {
    color: white;
}

.ct-footer-post {
    background: var(--soft-black);
    padding: 30px 0;
}
.ct-footer-post a:hover {
    text-decoration: underline;
}


address {
    color: #fff;
    display: inline-block;
}

address span {
    font-weight: 600;
}

address a:hover {
    text-decoration: underline;
}