@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MechanicLayout.cshtml";
}

<div id="content-wrapper">

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.php">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>

    <!-- Icon Cards-->

    <div class=" row justify-content-center" style="height:300px;padding:20px">

        <div class="col-md-5  m-4 card">
            <div class="col-md-auto " style="padding-top:20px">
                <h1 class="text-info">Total Earnings:</h1>

            </div>
            <hr />

            <div class="col-md-auto row justify-content-end mb-5">
                <h3>= 5600 PKR </h3>

            </div>
        </div>

        <div class="col-md-5  m-4 card">
            <div class="col-md-auto " style="padding-top:20px">
                <h1 class="text-info">Trips Taken:</h1>

            </div>
            <hr />

            <div class="col-md-auto row justify-content-end ">
                <h3> 12 </h3>

            </div>
        </div>

        <div class="col-md-5  m-4 card">
            <div class="col-md-auto " style="padding-top:20px">
                <h1 class="text-info">Rating:</h1>

            </div>
            <hr />

            <div class="col-md-auto row justify-content-end mb-5">
                <h3> 4.5</h3>

            </div>
        </div>



    </div>
  


  </div>
    </div>


