@{
    ViewBag.Title = "Home Page";
}

@section stylesheets {

    <link href="~/Content/Home/Index.css" rel="stylesheet" />

}
<div class="container-fluid  " style="background-image: url(~/Assets/Images/s2.jpg);width: 100%;height: 650px; background-size: cover; background-repeat: no-repeat;padding-right: 0px;background-position: top;">


    <div class="row  mx-1 justify-content-start " style="padding-top: 200px">
        <div class="col-md-8 ">
            <h1 style="color: white;font-size:74px "><strong>Need Help?Call Mechanic</strong></h1>
            <hr style="width: 20%;border-color: white;border-width: 3px" class="row justify-content-start">

            <h5 style="color: white;" class="mt-2">Call a Mechanic Anywhere Anytime!</h5>
        </div>
    </div>

    <div class="row " style="margin-top: 10px">
        <div class="col-sm-2">
            <button class="btn btn-info btn-block " style="height: 50px" onclick="location.href='booknow.php'"><span class="fa fa-phone"></span> Contact Now</button>
        </div>
    </div>

</div>
<!--/main-->
<!--heading-->

<div class="container mt-5 ">

    <div class="row  justify-content-center">
        <div class="col-md-6 ">
            <h2 class="text-center" style="color: rgb(14,131,205);">What Is Serviser? </h2>
            <hr style="width: 10%;border-width: 2px">
            <p class="text-center">
                The service your vehicle needs
                We provide <strong>fast, convinient and affordable services</strong> for your vehicles.
                Have you ever found yourself in an unfortunate situation where your vehicle broke down suddenly, and you didn't know what to do?
                If yes, then Serviser © is for you!
            </p>

        </div>

    </div>

</div>
<!--/heading-->
<!--carousel-->
<div class="container-fluid  mt-5 " style="padding: 10px;">
    <div class="row  justify-content-center" style="padding: 10px">

        <div class="col-md-3  m-4 card" style="padding: 0px;">
            <div class="col-sm-auto " style="height: 300px;padding:0px ">
                <img src="~/Assets/Images/t2.jpg" style="height: 300px;width: 100%" class="img-fluid">

            </div>
            <div class="col-sm-auto mt-3 ">
                <h4 style="color: rgb(14,131,205);">Your Right Choice!</h4>
                <hr>
                <p class="text-center mt-3" style="font-size:14px ">Call a Mechanic Anytime Anywhere Smart and simple. No need to rush somewhere just call and get your issue done with just one click. </p>

                <center>
                    <button class="btn btn-block-sm btn-primary mb-2"><span class="fa fa-phone"></span> Contact Now</button>
                </center>

            </div>



        </div>

        <div class="col-md-3 card m-4" style="padding: 0px;">

            <div class="col-lg-auto " style="height: 300px;padding:0px ">
                <img src="~/Assets/Images/car-artwork.svg" style="height: 300px;width: 100%;" class="img-fluid">

            </div>
            <div class="col-lg-auto mt-3 ">
                <h4 style="color: rgb(14,131,205);">We Fix Everything!</h4>
                <hr>
                <p class="text-center" style="font-size:14px ">
                    You Name It We Fix It
                    Serviser provides all kinds of services. We change oil, replace broken parts, fix tires, repair head light, anything you can think of!
                    Our mechanics range from bicyle to truck experts! If there's a mechanic, there's a way.
                </p>

            </div>



        </div>

        <div class="col-md-3 card m-4" style="padding: 0px;">

            <div class="col-lg-auto " style="height: 300px;padding:0px ">
                <img src="~/Assets/Images/phone-with-app.svg" style="height: 300px;width: 100%;" class="img-fluid">

            </div>
            <div class="col-lg-auto mt-3 ">
                <h4 style="color: rgb(14,131,205);">There's an App!</h4>
                <hr>
                <p class="text-center" style="font-size:14px ">
                    Take Serviser Wherever You Go
                    Keep Serviser one touch away at all times. Our smooth and efficient app will make you life easier. Try it now!
                </p>
                <center>
                    <button class="btn btn-block-sm btn-primary mb-2"><img src="~/Assets/Images/playstore.svg" style="height: 15px;width: 20px" class="img-fluid"> Download Now</button>
                </center>
            </div>



        </div>

    </div>

</div>

<!--/carousel-->
<!--carousel-->

<div class="container-fluid   mt-5" style="padding: 0px">
    <div class="col-lg-auto " style="background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(~/Assets/Images/4.jpg); background-size: cover;background-position: center;background-attachment: fixed;">

        <div class="row  mx-1 justify-content-start mt-4">
            <div class="col-md-8 mt-4">
                <h1 style="color: white;font-size:54px "><strong>Steps You Must Follow</strong></h1>
                <hr style="width: 20%;border-color: white;border-width: 2px" class="row justify-content-start">
            </div>
        </div>

        <div class="row  justify-content-center mt-5" style="padding: 10px">
            <div class="col-md-2  mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <span class="fa fa-map-marker mt-4" style="font-size:60px;color: white "></span>
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Confirm Your Location via Map.</p>

                </div>

            </div>
            <div class="col-md-2  mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <span class="fa fa-list-alt mt-4" style="font-size:60px;color: white "></span>
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Select Your Issue/Issues.</p>

                </div>

            </div>
            <div class="col-md-2 mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <span class="fa fa-clipboard mt-4" style="font-size:60px;color: white "></span>
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Check Your Bill.</p>

                </div>

            </div>

        </div>
        <div class="row  justify-content-center mt-2 " style="padding: 0px;padding-bottom: 10px">
            <div class="col-md-2  mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <img src="~/Assets/Images/mec.png" style="height: 100px;width: 200px" class="img-fluid">
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Confirm Your Nearby Mechanic.</p>

                </div>

            </div>
            <div class="col-md-2 mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <span class="fa fa-check-square-o mt-4" style="font-size:60px;color: white "></span>
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Get the Issue Done.</p>

                </div>

            </div>
            <div class="col-md-2  mx-5 my-1" style="border-radius: 50%;background-color:rgb(14,131,205);padding: 5px ">
                <div class="col-lg-auto ">
                    <center>
                        <span class="fa fa-money mt-4" style="font-size:60px;color: white "></span>
                        <hr style="border-color: white">
                    </center>
                </div>
                <div class="col-sm-12">
                    <p style="color: white;" class="text-center">Pay Bill to Mechanic.</p>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container-fluid mt-5 " style="padding: 10px">
    <div class="row  justify-content-center" style="">

        <div class="col-md-3  m-2" style="padding: 0px;">
            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c1">
                    <span class="fa fa-thumbs-o-up ml-2 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 " style="padding: 5px;padding-top: 15px" onmouseover="change1(c1)" onmouseout="change2(c1)">
                    <h6><strong>100% TRANSPARENCY</strong></h6>
                    <p style="font-size:13px ">We ensure that you get a well detailed break-up of each minor repair work.</p>

                </div>

            </div>

        </div>
        <div class="col-md-3  m-2" style="padding: 0px;">

            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c2">
                    <span class="fa fa-wrench ml-2 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 " style="padding: 5px;padding-top: 15px" onmouseover="change1(c2)" onmouseout="change2(c2)">
                    <h6><strong>QUALITY SERVICES</strong></h6>
                    <p style="font-size:13px ">To bring premium mechanical services at your home is our mission.</p>

                </div>

            </div>

        </div>
        <div class="col-md-3  m-2" style="padding: 0px;">

            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c3">
                    <span class="fa fa-users ml-2 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 " style="padding: 5px;padding-top: 15px" onmouseover="change1(c3)" onmouseout="change2(c3)">
                    <h6><strong>VERIFIED MECHANICS</strong></h6>
                    <p style="font-size:13px ">We have a detailed process to verify the authenticity of mechanics.</p>

                </div>

            </div>

        </div>

    </div>

</div>


@*<div class="container-fluid">
        <section class="row flex-lg-row-reverse" id="map-slide">
            <div class="col-lg-6 p-0">
                <div class="content-part-right d-flex justify-content-center flex-column position-absolute">
                    <h1>Your Choice - Serviser</h1>
                    <h5>Call a Mechanic Anytime Anywhere</h5>
                    <p>
                        Smart and simple.
                    </p>
                    <button class="book-button d-flex justify-content-center align-items-center">
                        BOOK NOW
                    </button>

                </div>
                <div class="art-part-bg"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center" >

            </div>
        </section>
        <section class="row flex-lg-row-reverse">
            <div class="col-lg-6 d-flex align-items-center justify-content-center p-0">
                <object type="image/svg+xml" data="~/Assets/Images/mystic-mechanic-1.svg" class="art-part-img">
                    <img src="~/Assets/Images/mystic machanic.png" alt="An artwork of a mechanic" class="art-part-img" />
                </object>
                <div class="art-part-bg"></div>

            </div>
            <div class="col-lg-6 content-part-left d-flex justify-content-center flex-column">
                <h1>Serviser</h1>
                <h5>The service your vehicle needs</h5>
                <p>
                    We provide <b>fast, convinient and affordable</b> services for your vehicles.
                </p>
                <p>
                    Have you ever found yourself in an unfortunate situation where your vehicle broke down suddenly, and you didn't know what to do?
                </p>
                <p>
                    If yes, then Serviser &copy; is for you!
                </p>

            </div>
        </section>
        <section class="row flex-lg-row-reverse">
            <div class="col-lg-6 p-0">
                <div class="content-part-right d-flex justify-content-center flex-column position-absolute">
                    <h1>We Fix Everything!</h1>
                    <h5>You Name It We Fix It</h5>
                    <p>
                        Serviser provides all kinds of services.
                        We change change oil, replace broken parts, fix tires, repair head light, anything you can think of!
                    </p>
                    <p>
                        Our mechanics range from bicyle to truck experts! If there's a mechanic, there's a way.
                    </p>

                </div>
                <div class="art-part-bg"></div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <object type="image/svg+xml" data="~/Assets/Images/car-artwork.svg" class="art-part-img">
                    <img src="~/Assets/Images/car artwork.png" alt="Car and some parts" class="art-part-img" />
                </object>
            </div>
        </section>
        <section class="row flex-lg-row-reverse">
            <div class="col-lg-6 d-flex align-items-center justify-content-center p-0">
                <object type="image/svg+xml" data="~/Assets/Images/phone-with-app.svg" class="art-part-img">
                    <img src="~/Assets/Images/phone-with-app.png" alt="Phone with app logo" />
                </object>
                <div class="art-part-bg"></div>

            </div>
            <div class="col-lg-6 content-part-left d-flex justify-content-center flex-column">
                <h1>There's an App!</h1>
                <h5>Take Serviser Wherever You Go</h5>
                <p>
                    Keep Serviser one touch away at all times. Our smooth and efficient app will make you life easier. Try it now!
                </p>
                <button class="app-download-button d-flex justify-content-center align-items-center">
                    <img src="~/Assets/Images/playstore.svg" alt="Playstore icon" width="20" height="20" />
                    DOWNLOAD
                </button>

            </div>
        </section>


    </div>*@
