
@{
    ViewBag.Title = "Login";
}

<style>
   
</style>
<meta name="google-signin-client_id" content="989656006569-obtc83g2qlrc2d3mhutp6rnsa53cql75.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Default form register -->
<div class="container" style="width: 500px">
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Log In</p>


        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">




        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Log In</button>

    </form>
</div>


