
@{
    ViewBag.Title = "Pricing";
}


<div class="container-fluid " style="height: 400px;background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../Assets/images/5.jpg);width: 100%; background-size: cover; background-repeat: no-repeat;padding-right: 0px;background-position: center;">

    <div class="row  mx-1 justify-content-start">
        <div class="col-md-8 mt-4 ml-4" style="padding-top: 200px">
            <h1 style="color: white;font-size:54px"><strong>Price Lists</strong></h1>
            <div class="row">
                <hr style="width: 7%;border-color: white;border-width: 2px">
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-5" style="height: 700px;padding: 20px">
    <div class="row justify-content-center">

        <div class="col-lg-4  m-4" style="padding: 0px">

            <div class="row justify-content-center" style="background-color: rgb(14,131,205);border-radius: 10px 10px 0px 0px">

                <h1 class="text-center mt-3" style="color: white"><i class="fa fa-motorcycle"></i> Bike</h1>

            </div>
            <div class="col-lg-auto card" style="padding:10px ">

                <table class="table  table-hover">
                    <tr>

                        <th style="width: 350px">Problem</th>
                        <th>Rate in PKR</th>


                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>

                </table>

            </div>


        </div>

        <div class="col-lg-4  m-4" style="padding: 0px">

            <div class="row justify-content-center" style="background-color: rgb(14,131,205);border-radius: 10px 10px 0px 0px">

                <h1 class="text-center mt-3" style="color: white"><i class="fa fa-car"></i> Car</h1>

            </div>
            <div class="col-lg-auto card" style="padding:10px ">

                <table class="table  table-hover">
                    <tr>

                        <th style="width: 350px">Problem</th>
                        <th>Rate in PKR</th>


                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>
                    <tr>
                        <td>Brake Failure</td>
                        <td>Rs/- 500</td>
                    </tr>

                </table>

            </div>


        </div>





    </div>

</div>

<div class="container-fluid " style="padding: 10px">
    <div class="row  justify-content-center" style="">

        <div class="col-md-3  m-2" style="padding: 0px;">
            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c1">
                    <span class="fa fa-thumbs-o-up ml-3 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 "  onmouseover="change1(c1)" onmouseout="change2(c1)">
                    <h6  class="mt-2"><strong>100% TRANSPARENCY</strong></h6>
                    <p style="font-size:13px ">We ensure that you get a well detailed break-up of each minor repair work.</p>

                </div>

            </div>

        </div>
        <div class="col-md-3  m-2" style="padding: 0px;">

            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c2">
                    <span class="fa fa-wrench ml-3 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 "  onmouseover="change1(c2)" onmouseout="change2(c2)">
                    <h6  class="mt-2"><strong>QUALITY SERVICES</strong></h6>
                    <p style="font-size:13px ">To bring premium mechanical services at your home is our mission.</p>

                </div>

            </div>

        </div>
        <div class="col-md-3  m-2" style="padding: 0px;">

            <div class="row">
                <div class="col-lg-3 " style="background-color: rgb(241,241,241);transition: 0.5s" id="c3">
                    <span class="fa fa-users ml-3 mt-4" style="font-size:40px "></span>

                </div>
                <div class="col-lg-9 "  onmouseover="change1(c3)" onmouseout="change2(c3)">
                    <h6  class="mt-2"><strong>VERIFIED MECHANICS</strong></h6>
                    <p style="font-size:13px ">We have a detailed process to verify the authenticity of mechanics.</p>

                </div>

            </div>

        </div>

    </div>

</div>

