@{
                /**/

                ViewBag.Title = "PendingRequests";
                Layout = null;
                Html.RenderPartial("_Adminheader");
}



<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.php">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Pending Requests</li>
        </ol>


        <table class="table table-bordered table-striped">

            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone No.</th>
            <th>CNIC</th>
            <th>Shop Address</th>
            <th>Service Type</th>
            <th>Actions</th>
            </thead>

            <tbody>
                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>

                    <td>Bike</td>

                    <td>
                        <button class="btn btn-info"> Accept</button>
                        <button class="btn btn-info"> Reject</button>

                    </td>
                </tr>

                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>

                    <td>Bike</td>

                    <td>
                        <button class="btn btn-info"> Accept</button>
                        <button class="btn btn-info"> Reject</button>

                    </td>
                </tr>

                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>

                    <td>Bike</td>

                    <td>
                        <button class="btn btn-info"> Accept</button>
                        <button class="btn btn-info"> Reject</button>

                    </td>
                </tr>

                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>

                    <td>Bike</td>

                    <td>
                        <button class="btn btn-info"> Accept</button>
                        <button class="btn btn-info"> Reject</button>

                    </td>
                </tr>

                <tr>
                    <td>Ali</td>
                    <td>Hamza</td>
                    <td>0321456987</td>
                    <td>325896321466987</td>
                    <td>Ichra</td>

                    <td>Bike</td>

                    <td>
                        <button class="btn btn-info"> Accept</button>
                        <button class="btn btn-info"> Reject</button>

                    </td>
                </tr>




            </tbody>

        </table>


    </div>


</div>


@{
    Html.RenderPartial("_Adminfooter");
}




