<nav class="navbar navbar-expand-lg navbar-light serviser-navbar fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="~/Assets/Images/mechanic-with-wrench-logo-1.svg" alt="Serviser Logo" class="serviser-navbar-logo" width="30" height="30" />
        &nbsp; SERVISER
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Booking","Home")">Book Now</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 ml-lg-auto mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("RegisterAsUser","Home")">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>

        </ul>
    </div>
</nav>