@model Serviser.Web.API.Models.RegisterBindingModel
<div class="row">
    <h1>Demo</h1>
    <p>Sign Up with Serviser.Web. Login here and you will get an access token.</p>
</div>
<div class="row">
    <input type="email" name="username" value="" placeholder="Email or phone" id="username"/>
    <input type="password" name="password" value="" placeholder="Password" id="password" />
    <button onclick="onClickGetToken()">Login</button>
</div>
<form id="regForm" class="row">
    <input type="text" placeholder="First name" name="FirstName">
    <input type="text" placeholder="Last name" name="LastName">
    <input type="email" placeholder="E-mail" name="Email">
    <input type="password" placeholder="Password" name="Password">
    <input type="password" placeholder="Confirm Password" name="ConfirmPassword">
    <input type="number" placeholder="Phone Number" name="PhoneNumber">
    <input type="text" placeholder="Role Name" name="RoleName">
    <button type="button" onclick="onClickRegister()">Sign Up</button>
</form>

<br />
<div class="row">
    <p>The Result</p>
    <pre><code id="resultText"></code></pre>
</div>

<a href="https://docs.microsoft.com/en-us/aspnet/web-api/overview/security/individual-accounts-in-web-api">This link has a guide to what's happening here.</a>


@section scripts
{
    <script>
        function onClickGetToken() {
            var loginData = {
                grant_type: 'password',
                username: document.getElementById("username").value,
                password: document.getElementById("password").value
            };

            $.ajax({
                type: 'POST',
                url: '/Token',
                data: loginData
            }).done(function (data) {
                //console.log(data);
                // Cache the access token in session storage.
                //sessionStorage.setItem(tokenKey, data.access_token);
                document.getElementById("resultText").innerHTML = JSON.stringify(data,null,4);

            }).fail((err) => {
                //console.log(err);
                document.getElementById("resultText").innerHTML = JSON.stringify(err,null,4);
            });
        }

        function onClickRegister(ev) {
            $.ajax({
                type: 'POST',
                url: '/api/Account/Register',
                data: $('#regForm').serialize()
            }).done(function (data) {
                //console.log(data);
                // Cache the access token in session storage.
                //sessionStorage.setItem(tokenKey, data.access_token);
                document.getElementById("resultText").innerHTML = JSON.stringify(data, null, 4);

            }).fail((err) => {
                //console.log(err);
                document.getElementById("resultText").innerHTML = JSON.stringify(err, null, 4);
                });
            return false;
        }
    </script>
}
