:root 
{
    --soft-white: #ecf0f1;
    --soft-black: #0e0e0e;
}

.serviser-navbar {
    background: var(--soft-white);
    box-shadow: var(--soft-black) 0px -10px 20px;
}

.serviser-navbar-logo
{
    max-width:50px;
    max-height:50px;
}