:root {
    --soft-white: #ecf0f1;
    --soft-black: #0e0e0e;
    --soft-dark-blue: #2980b9;
    --soft-dark-red: #c0392b;
    --soft-light-green: #21C7B1;
    --soft-dark-green: #27ae60;
}

.serviser-navbar {
    background: var(--soft-white);
    box-shadow: rgba(0,0,0,0.4) 0 0 5px;
}

.serviser-navbar-logo {
    max-width:50px;
    max-height:50px;
}