@{
    ViewBag.Title = "Booking";
}

    <div style="margin-top:60px;height:600px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d108848.8336126985!2d74.24696695820313!3d31.5097088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1554993727992!5m2!1sen!2s"
                frameborder="0" style="border:0;height:100%;width:100%;position:absolute;cursor:pointer" allowfullscreen></iframe>
                <br/><br /><br /><br /><br /><br />
                           <div class="row" style="z-index:1000">
                               <div class="col-1">
                                   <br />
                               </div>
                               <div class="col-2 p-2">
                                   <ul class="list-group">
                                       <li class="list-group-item " style="background-color:#fff;color:#0e0e0e">
                                           <div class="row">
                                               <div class="col-8">
                                                   <img height="30px;" src="~/Assets/Images/car.png" />
                                               </div>
                                               <div class="col-4">
                                                   <span style="font-size:25px;">Cars</span>
                                               </div>
                                           </div>
                                       </li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item" >
                                               <button class="btn header-left-bottom" style="background:#000;color:#fff;">Submit</button> 
                                       </li>

                                   </ul>
                               </div>
                               <div class="col-2 p-2">
                                   <ul class="list-group">
                                       <li class="list-group-item " style="background-color:#fff;color:#0e0e0e">
                                           <div class="row">
                                               <div class="col-8">
                                                   <img height="30px;" src="~/Assets/Images/bike.png" />
                                               </div>
                                               <div class="col-4">
                                                   <span style="font-size:25px;">Bike</span>
                                               </div>
                                           </div>
                                       </li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">
                                           <button class="btn header-left-bottom" style="background:#000;color:#fff;">Submit</button>
                                       </li>

                                   </ul>
                               </div>
                               <div class="col-2 p-2">

                               </div>
                               <div class="col-2 p-2">
                                   <ul class="list-group">
                                       <li class="list-group-item " style="background-color:#fff;color:#0e0e0e">
                                           <div class="row">
                                               <div class="col-8">
                                                   <img height="30px;" src="~/Assets/Images/truck.png" />
                                               </div>
                                               <div class="col-3">
                                                   <span style="font-size:25px;">Truck</span>
                                               </div>
                                               <div class="col-1"></div>
                                           </div>
                                       </li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">
                                           <button class="btn header-left-bottom" style="background:#000;color:#fff;">Submit</button>
                                       </li>

                                   </ul>
                               </div>
                               <div class="col-2 p-2">
                                   <ul class="list-group">
                                       <li class="list-group-item " style="background-color:#fff;color:#0e0e0e">
                                           <div class="row">
                                               <div class="col-8">
                                                   <img height="30px;" src="~/Assets/Images/van.png" />
                                               </div>
                                               <div class="col-4">
                                                   <span style="font-size:25px;">Van</span>
                                               </div>
                                           </div>
                                       </li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">Problem 1</li>
                                       <li class="list-group-item">
                                           <button class="btn header-left-bottom" style="background:#000;color:#fff;">Submit</button>
                                       </li>

                                   </ul>
                               </div>
                           </div>
    </div>
<div class="container" style="position:relative">
  
</div>