@{
    ViewBag.Title = "Home Page";
}

@section stylesheets {
    
<link href="~/Content/Home/Index.css" rel="stylesheet" />

    }


<div class="container-fluid">
    <section class="row flex-lg-row-reverse">
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-0">
            <object type="image/svg+xml" data="~/Assets/Images/mystic-mechanic-1.svg" class="art-part-img">
                <img src="~/Assets/Images/mystic machanic.png" alt="An artwork of a mechanic" class="art-part-img"/>
            </object>
            <div class="art-part-bg"></div>

        </div>
        <div class="col-lg-6 content-part">

        </div>
    </section>
    <section class="row flex-lg-row-reverse">
        <div class="col-lg-6 p-0">
            <div class="art-part-bg"></div>
        </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <object type="image/svg+xml" data="~/Assets/Images/car-artwork.svg" class="art-part-img">
                    <img src="~/Assets/Images/car artwork.png" alt="Car and some parts" class="art-part-img"/>
                </object>
        </div>
    </section>
    <section class="row flex-lg-row-reverse">
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-0">
            <object type="image/svg+xml" data="~/Assets/Images/phone-with-app.svg" class="art-part-img">
                <img src="~/Assets/Images/phone-with-app.png" alt="Phone with app logo" />
            </object>
            <div class="art-part-bg"></div>

        </div>
        <div class="col-lg-6 content-part">

        </div>
    </section>


</div>
