
@{
    ViewBag.Title = "Regiter";
}
<div class="container-fluid" style="background-color:#F8F8F9">
        <div class="row">
            <div class="col-xl-8 col-md-8 col-lg-7  col">

            </div>
            <div class="header-main col-xl-5 col-md-5  col-lg-5 col-sm-12 ">

                <div class="header-left-bottom">
                    <div class="bottom" style="margin-bottom: 30px;">
                        <button class="btn">Already have an account</button>
                    </div>
                    <form action="#" method="post">

                        <table>
                            <tr>
                                <td>
                                    <div class="icon1">
                                        <span class="fa fa-user"></span>
                                        <input type="text" placeholder="First Name" required="" />
                                    </div>
                                </td>
                                <td>
                                    <pre>          </pre>

                                </td>
                                <td>
                                    <div class="icon1">
                                        <span class="fa fa-user"></span>
                                        <input type="text" placeholder="Last Name" required="" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input type="email" placeholder="Email Address" required="" />
                        </div>
                        <div class="icon1">
                            <span class="fa fa-phone"></span>
                            <input type="text" placeholder="Phone" required="" />
                        </div>
                        <div class="icon1">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="Password" required="" />
                        </div>
                        <div class="icon1">
                            <span class="fa fa-map-marker"></span>
                            <input type="password" placeholder="City" required="" />
                        </div>
                        <p>
                            By proceeding, I agree to Serviser's Terms of Use and acknowledge that I have read the Privacy Policy.
                        </p>
                        <p>
                            I also agree that Serviser or its representatives may contact me by email, phone, or SMS (including by automated means) at the email address or number I provide, including for marketing purposes.

                        </p>
                        <div class="bottom">
                            <button class="btn">Register</button>
                        </div>

                    </form>
                </div>

            </div>
           </div>
    </div>
        <div class="container-fluid" style="margin-top:50px;">
            <div class="row" style="margin-left:50px;">
                <div class="col-xl-4 col-md-4 col-sm-12">
                    <span style="font-size:30px">Make the Money</span>
                    <br /><br />
                          <p>Got a car? Turn it into a money machine. 
                    The city is buzzing and Uber makes it easy for you to cash in on the action. 
                    Plus, you've already got everything you need to get started.</p>

                </div>
                <div class="col-xl-4 col-md-4 col-sm-12">
                    <span style="font-size:30px">Work when you want</span>
                    <br /><br />
                          <p>Need something outside the 9 to 5? As an independent 
                    contractor with Uber, you’ve got freedom 
                    and flexibility to drive whenever you have time. 
                    Set your own schedule, 
                    so you can be there for all of life’s most important moments.</p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-12">
                    <span style="font-size:30px">No boss, No office</span>
                    <br /><br />
                          <p>Whether you’re supporting your family or 
                    saving for something big, 
                    Uber gives you the freedom to get behind the wheel when it makes sense for you. 
                    Choose when you drive, where you go, and who you pick up.</p>
                </div>
            </div>
        </div>
<div style="width:100%;background-color:#F1F1F1;height:200px;margin-top:20px">
    <div class="row" style="margin-top:50px;height:120px;position:absolute">
    <div class="col-2">
        </div>
        <div class="col-8">
        <p style="font-size:10px">
            This offer is for driver-partners only who clicked on an ad advertising this guarantee and
            signed up with the corresponding landing page. The guarantee is for Rs20,000 in total
            earnings (not including fees, incentives, or tips) for your first 120 trips as a new
            driver-partner. To qualify for the guarantee, driver-partners must sign up in Karachi
            and complete 120 trips with unique riders within 90 days of signing up. If the total
            earnings of your trips are under Rs20,000 for the first 120 trips, Uber will pay you
            the difference of your guarantee and total earnings. Cancelled trips do not count as


            completed trips. Uber Eats trips are not eligible for this promotion. We reserve the
            right to withhold or deduct payments that we determine or believe were in error, fraudulent,
            illegal, or in violation of driver terms or these terms. Guarantee available for a limited
            time only. Terms subject to change.
            <br /><br />
            This opportunity is for an independent contractor. Actual earnings may vary depending
            on number of rides taken, time of day, location and other factors.
        </p>
        </div>
        <div class="col-2">

        </div>
    </div>
    </div>