
@{
    ViewBag.Title = "RegisterAsUser";
}

@section stylesheets {
    <link rel="stylesheet" href="~/Content/register.css">
}

<style>
    body {
        background-color: #F1F1F1;
    }
</style>
<div class="container-fluid" style="padding: 70px 0;background-color:#F1F1F1; background-image: url('../../Assets/Images/Map pinned-100.jpg'); background-size:cover; height: 100vh;">
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="header-left-bottom col-xl-5 col-lg-7 col-md-8 col-sm-12 col-s-12" style="background: var(--soft-light-green);">
            <div class="bottom" style="margin-bottom: 30px;">
                <button class="btn">Already have an account</button>
            </div>
            <form action="#" method="post">

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-s-12">
                        <div class="icon2">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="First Name" required="" />
                        </div>

                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-s-12">
                        <div class="icon2">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="Last Name" required="" />
                        </div>

                    </div>
                </div>
                <div class="icon2">
                    <span class="fa fa-user"></span>
                    <input type="email" placeholder="Email Address" required="" />
                </div>
                <div class="icon2">
                    <span class="fa fa-phone"></span>
                    <input type="text" placeholder="Phone" required="" />
                </div>
                <div class="icon2">
                    <span class="fa fa-lock"></span>
                    <input type="password" placeholder="Password" required="" />
                </div>

                <div class="bottom mb-4">
                    <button class="btn">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>